body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 50px;
    }

img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.content {
    width: 400px;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    border: 2px solid #ececec;
    margin: 0 auto;
}
